@tailwind base;
@tailwind components;
@tailwind utilities;

.my-react-select-container .my-react-select__input-container,
.my-react-select-container .my-react-select__placeholder,
.my-react-select-container .my-react-select__single-value {
  @apply text-black dark:text-white;
}

html {
  font-family: 'Work Sans', sans-serif;
}
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input {
  @apply bg-white/10 rounded-full px-2 py-1 outline-none;
}

.popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

.popup.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}
